<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- log4net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>

  <log4net>
    <!-- Лог в консоль. -->
    <appender name="CONSOLE" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss} %-5level %logger:%line - %message%newline"/>
        <!-- <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" /> -->
      </layout>
    </appender>
    
    <!-- Лог будет выводится в перезаписываемый файл. -->
    <appender name="FILE" type="log4net.Appender.RollingFileAppender">
      <!-- Имя файла лога. -->
      <param name="File" value="log\qa_habrograb.log"/>
      <!-- Модель блокировки файла лога: лог будет открываться для каждой операции записи с -->
      <!-- минимальным временем удержанием файла. -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <!-- true - добавлять в файл, false - перезаписывать файл -->
      <appendToFile value="true"/>
      <!-- Перезаписывать файл по параметру "Размер". -->
      <rollingStyle value="Size"/>
      <!-- Число файлов бекапов логов. -->
      <maxSizeRollBackups value="5"/>
      <!-- Максимальный размер файла логов. -->
      <maximumFileSize value="10MB"/>
      <!-- Пишем всегда в один и тот же файл (можно сделать каждый раз в новый с датой в имени файла) -->
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" /> -->
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss} %-5level %logger:%line - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="debug"/>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
  </log4net>

</configuration>
